@import url(reset.css);

@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


/* *GLOBAL */

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    background: #D8D8D6;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
    color: #161616;
}

.title {
    font-family: 'Architects Daughter';
    font-size: 40px;
}

.subtitle {
    font-family: 'Architects Daughter';
    font-size: 25px;
    text-transform: capitalize;
}

/* *HEADER*/

.header {
    background: #81A36B;
    padding: 10px;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

.menu a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

/* *MAIN */
/* *AMELIA*/

.amelia {
    position: relative;
}

.amelia-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
    margin: 0 auto;
}

.desc {
    text-align: center;
    margin: 30px 0 0;
    line-height: 20px;
}

.amelia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}

.btns {
    margin-top: 20px;
}

.btns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.btns > div > a {
    text-decoration: none;
    color: inherit;
    border-radius: 6px;
    padding: 15px 20px;
    display: inline-block;
}

.btn-color {
    border: 1px solid #81A36B;
    background: #81A36B;
}

.btn-outline {
    background: transparent;
}

/* *ABOUT */

.about {
    padding: 60px 0;
}

.about-box {
    max-width: 450px;
    margin: 0 auto;
}

.about-us {
    text-align: center;
}

.about-us-desc {
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
}

/* *BENEFITS */

.benefits {
    font-family: 'Montserrat';
    background: #81A36B;
}

.benefits-list {
    display: flex;
    row-gap: 20px;
    padding: 40px 15px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.benefits-list div {
    flex: 1 1 45%;
}

.benefit-card {
    padding: 10px 0 0;
}

.benefit-icon {
    width: 40px;
    height: 40px;
}

.caption {
    margin: 0 0 20px;
}

/* *HWW */

.working {
    background: #D8D8D6;
    padding: 120px 0 0;
}

.working-block {
    max-width: 1140px;
}

.working-box {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.working-img {
    flex: 1 1 47%;
    height: 560px;
}

.working-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.working-desc {
    flex: 1 1 47%;
    line-height: 30px;
    text-align: center;
}

.working-text {
    margin: 50px 0 0;
    text-align: justify;
}

.works {
    background: #D8D8D6;
    padding: 120px 0;
}

.works-box {
    text-align: center;
}

.cards {
    margin: 50px 0 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px 15px 40px;
    border-radius: 6px;
    background: #81A36B;
    line-height: 30px;
}

.card > img {
    border-radius: 6px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    flex: 1 1 30%;
}

/* *FOOTER */

.footer {
    background: #81A36B;
    text-align: center;
    padding: 50px 0;
}

.footer-title > a {
    display: inline-block;
}

.footer-subtitle {
    font-family: 'Roboto';
    font-size: 24px;
    margin: 20px 0;
}

.contacts > p {
    margin-bottom: 15px;
}

.tel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.tel > a {
    text-decoration: none;
    color: inherit;
}

.footer-list {
    display: flex;
    gap: 21px;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-list > li > a {
    display: block;
}

@media (min-width: 600px) {
    .benefits-list {
        justify-content: space-between;
    }

    .benefits-list div {
        flex: 1 1 30%;
    }
}

@media (min-width: 768px) {
    /* global */
    body {
        font-size: 18px;
    }

    .container {
        max-width: 730px;
    }

    .title {
        font-size: 62px;
    }

    .subtitle {
        font-size: 32px;
    }

    /* header */
    .header {
        padding: 19px;
    }

    .header > div {
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 20px;
    }

    /* amelia */
    .desc {
        text-align: justify;
        margin: 41px 0 0;
        line-height: 30px;
    }

    .desc {
        margin: 41px 0 0;
        line-height: 30px;
    }

    .btns > div {
        gap: 25px;
    }

    .btns > div > a {
        padding: 20px 34px;
    }

    /* about */
    .about-box {
        max-width: 570px;
    }

    .about-us-desc {
        margin: 50px 0 0;
        line-height: 30px;
    }

    /* benefits */
    .benefits-list {
        padding: 70px 15px;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (min-width: 1000px) {
    .menu {
        gap: 30px;
    }

    .container {
        max-width: 970px;
    }

    .amelia-box {
        gap: 30px;
    }

    .amelia-desc {
        flex: 1 1 50%;
    }

    .title {
        text-align: left;
    }

    .desc {
        text-align: justify;
    }

    .amelia-box {
        padding: 0 0 60px;
    }

    .amelia-img {
        flex: 1 1 50%;
        height: 670px;
    }

    .amelia-img img {
        position: static;
        filter: none;
    }

    .btns > div {
        justify-content: flex-start;
    }

    /* about */
    .about {
        padding: 120px 0;
    }

    .about-box {
        max-width: 570px;
    }

    .benefit-icon {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .benefits-list {
        flex-wrap: nowrap;
    }

}

/*


*/
