@import url(reset.css);

/* *GLOBAL */

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    color: #161616;
}

.title {
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
    font-size: 62px;
}

.subtitle {
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
}

/* *HEADER*/

.header {
    background: #81A36B;
    padding: 19px 0;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

/* *MAIN */
/* *AMELIA*/

.amelia {
    background: #D8D8D6;
}

.amelia-box {
    display: flex;
    gap: 30px;
    align-items: center;
}

.amelia-desc {
    flex: 1 1 47%;
}

.desc {
    text-align: justify;
    margin: 41px 0 0;
    line-height: 30px;
}

.amelia-img {
    flex: 1 1 47%;
    height: 670px;
}

.amelia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btns {
    margin: 20px 0 0;
}

.btns > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.btns > div > a {
    text-decoration: none;
    color: inherit;
    border-radius: 6px;
    padding: 20px 34px;
}

.btn-color {
    border: 1px solid #81A36B;
    background: #81A36B;
}

.btn-outline {
    background: transparent;
}

/* *ABOUT */

.about {
    background: #D8D8D6;
    padding: 120px 0;
}

.about-box {
    max-width: 570px;
}

.about-us {
    text-align: center;
}

.about-us-desc {
    text-align: center;
    margin: 50px 0 0;
    line-height: 30px;
}

/* *BENEFITS */

.benefits {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: #81A36B;
}

.benefits-list {
    display: flex;
    gap: 20px;
    padding: 78px 15px;
    justify-content: space-between;
    text-align: center;
}

.caption {
    margin: 0 0 20px;
}

/* *HWW */

.working {
    background: #D8D8D6;
    padding: 120px 0 0;
}

.working-block {
    max-width: 1140px;
}

.working-box {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.working-img {
    flex: 1 1 47%;
    height: 560px;
}

.working-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.working-desc {
    flex: 1 1 47%;
    line-height: 30px;
    text-align: center;
}

.working-text {
    margin: 50px 0 0;
    text-align: justify;
}

.works {
    background: #D8D8D6;
    padding: 120px 0;
}

.works-box {
    text-align: center;
}

.cards {
    margin: 50px 0 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px 15px 40px;
    border-radius: 6px;
    background: #81A36B;
    line-height: 30px;
}

.card > img {
    border-radius: 6px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    flex: 1 1 30%;
}

/* *FOOTER */

.footer {
    background: #81A36B;
    text-align: center;
    padding: 50px 0;
}

.footer-title > a {
    display: inline-block;
}

.footer-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
}

.contacts > p {
    margin-bottom: 15px;
}

.footer-list {
    display: flex;
    gap: 21px;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-list > li > a {
    display: block;
}